<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link href="login.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
</head>
<body>
    <form>
   <h1> hi <%= username %> your appointment for the Dr <%=doctor%> has been booked successfully
       </h1> </form>
</body>
</html>